:root {
    --orange: #ff8000;
    --mainBackground: #fff;
    --category: #ffdabb;
    --unactive: #000;
    --mainGray: #666;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.eot') format('eot'),
         url('../fonts/lato-bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/lato-light.woff2') format('woff2'),
         url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.eot') format('eot'),
         url('../fonts/lato-bold.ttf') format('ttf');
}

@font-face {
    font-family: 'camptonbold';
    src: url('../fonts/camptonbold-webfont.woff2') format('woff2'),
         url('../fonts/camptonbold-webfont.woff') format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--mainBackground);
    font-size: 56px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.camptonBold{
    font-family: 'camptonbold', Helvetica, sans-serif;
}

.latoBold{
    font-family: 'Lato-Bold', Helvetica, sans-serif;
}

.latoLight{
    font-family: 'Lato-Light', Helvetica, sans-serif;
}

/* Menu szczegóły */
.menu-icon{
    width: 30px;
    display: none;
}

img.logo-img {
    width: 1.5em;
}

nav.top_menu {
    display: flex;
    background-color: var(--mainBackground);
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    padding: 1rem;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 4;
}

ul.top_menu_group{
    margin: auto;
    list-style: none;
    display: flex;
    width: 100%;
    height: 14vh;
    justify-content: space-around;
}

li.topnav{
    height: 14vh;
}

a.menu_item{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--unactive);
    position: relative;
    padding: 14px 0px;
    float: left;
    margin: auto;
    width: 10rem;
    height: 8vh;
    text-align: center;
    transition: .3s ease-in-out;
}

.burger{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.topnav a:hover {
    background-color: var(--category);
    color: var(--unactive);
    transition: .3s ease-in-out;
}

img.line{
    width: 3em;
    height: .3em;
    background-color: transparent;
    margin: .6em;
    border-radius: 20px;
    transition: .3s ease-in-out;
 }
 
 @media only screen and (max-width: 1000px){
    .menu-icon{
        display: block;
        margin: 0 0 0 auto;
        padding-right: .5em;
        transition: .3s ease-in-out;
    }
    .myLinksoff{
        display: none;
    }
    .burger{
        margin: 0 0 0 auto;
        display: block;
        transition: .3s ease-in-out;
    }

    .burger:hover{
        transform: rotate(360deg);
        transition: .3s ease-in-out;
    }
  
    ul.top_menu_group{
        position: fixed;
        right: 0;
        top: 7vh;
        background-color: var(--category);
        width: 40%;
        height: 70vh;
        flex-direction: column;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 1px;
        transform: translate(100%);
        transition: .3s ease-in-out;
        z-index: 4;
    }
    
    a.menu_item{
        margin-top: 4vh;
        width: 100%;
        height: 3vh;
        text-align: center;
    }

    .topnav a:hover {
        background-color: var(--orange);
        color: var(--unactive);
    }

    ul.active{
        transform: translate(0%);
        transition: .3s ease-in-out;
    }
}
@media only screen and (max-width: 360px){
    ul.top_menu_group{
        width: 100%;
    }
}



/* koniec menu */



/* Main control */
.container_top{
    padding-top: 10vh;
}

.container{
    display: flex;
    position: relative;
    width: 80vw;
    height: 40vh;
    background-color: var(--mainBackground);
    margin: 3rem auto 6rem auto;
    padding: 10vh 1rem;
    font-size: 2rem;
}

.plakat-left, .plakat-right{
    display: none;
}

.tytul-right, .tytul-left{
    padding-left: 1rem;
    left: 0%;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: right;
    text-transform: uppercase;
    transform: scale(-1, -1);
}

.opis-right, .opis-left{
    display: flex;
    position: absolute;
    background-color: var(--category);
    width: 100%;
    height: 90%;
    top: 10%;
    margin: auto auto;
    z-index: 0;
    text-align: center;
    font-size: smaller;
    overflow: hidden;
}
.opis-right{
    left: 10%;
}
.opis-left{
    width: 45%;
    margin: auto auto;
}

.opis-right-text, .opis-left-text{
    text-align: center;
    font-size: 1em;
}
.opis-right-text{
    margin: auto 12%;
}
.opis-left-text{
    margin: auto 15%;
    padding: 0px 8px;
}


.tytul-right, .tytul-left {
    display: flex;
    position: absolute;
    width: 5%;
    left: 54%;
    top: 0%;
    padding-left: 2rem;
    font-size: 4rem;
    z-index: 3;
}

@media all and (min-width: 1080px) {    
    .plakat-left, .plakat-right {
        display: flex;
        position: absolute;
        width: 40%;
        height: auto;
        padding: 0;
        z-index: 3;
    }
    .plakat-left{
        bottom: 0;
        margin: 0;
    }
    .plakat-right{
        top: 10%;
        left: 62%;
        padding-right: 10%;
    }
    img.plakat-left, img.plakat-right{
        top: 0%;
        position: relative;
        width: 100%;
        height: auto;
    }
    img.plakat-left{
        left: 28%;
    }
    img.plakat-right{
        left: -5%;
    }

    .opis-right{
        width: 50%;
        left: 50%;
    }
    .opis-left{
        left: 13%;
        padding: 0rem 2rem;
    }
    .opis-right-text{
        margin: auto 15%;
        padding: 0px 8px;
    }

}

@media all and (max-width: 1080px) {
    .container{
        width: 100vw;
        height: 15vh;
        padding: 5vh 1rem;
    }
    .opis-right, .opis-left{
        width: 70%;
        padding: 0px 2px;
        font-size: 2rem;
        left: 2%;
        right: 2%;
    }
    .opis-right-text, .opis-left-text{
        font-size: .7em;
    }
    .tytul-right, .tytul-left{
        top: 3%;
        font-size: 2rem;
    }
    .tytul-right {
        left: 14%;
    }
    .tytul-left {
        left: 84%;
    }
}

@media all and (max-width: 860px){
    .container {
        width: 100%;
        height: 25vh;
        margin: .25em auto .25em auto;
    }
    .opis-right, .opis-left{
        width: 78%;
        left: -2rem;
    }
    .opis-right-text, .opis-left-text{
        font-size: .7em;
        margin: auto 12%;
        padding: 1% 1% 1% 1%;
    }
    .tytul-right, .tytul-left{
        left: 4%;
        font-size: 1.8rem;
    }
    .tytul-left {
        left: 83%;
    }
}

